<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080940822311-geim634ub9qlvdimsortt0hj2lr5m1hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080940822311-geim634ub9qlvdimsortt0hj2lr5m1hs</string>
	<key>API_KEY</key>
	<string>AIzaSyAkUVHnGsUybs4JmTV370Jjm7tdHhEc99w</string>
	<key>GCM_SENDER_ID</key>
	<string>1080940822311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergueny.vin</string>
	<key>PROJECT_ID</key>
	<string>vinm1-c218b</string>
	<key>STORAGE_BUCKET</key>
	<string>vinm1-c218b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080940822311:ios:4109de9f4b3bac1fa1b302</string>
	<key>DATABASE_URL</key>
	<string>https://vinm1-c218b.firebaseio.com</string>
</dict>
</plist>